<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <appSettings>
    <add key="MasterCardServiceAddress" value="net.tcp://localhost:9999/MasterCardService"/>
    <add key="TransactionServiceAddress" value="net.tcp://localhost:10000/TransactionService"/>
    <add key="ServiceCertificateCN" value="TransactionServiceCertificate"/>
    <add key="CertificatePath" value="./certs/"/>
  </appSettings>
</configuration>