<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

  <appSettings>
    <add key="addressMasterCardService" value="net.tcp://localhost:9999/MasterCardService"/>
    <add key="addressTransactionService" value="net.tcp://localhost:10000/TransactionService"/>
    <add key="srvCerCn" value="BankCert"/>
    <add key="pathCert" value=""/>
  </appSettings>
</configuration>